div.header
{
    width: 100%;
    height :auto;
    overflow: hidden;
    background: #000000;
}
p.header-name
{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin:0;
}

table.main-list
{
    #width: 98%;
}

.header-content
{
     margin: 5;
}


input.input_name
{
    width: 30%;
    text-align: center;
}

input.input_pass
{
    width: 30%;
    text-align: center;
}

.login
{
    width: 80%;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
}