@(login_form: Form[(String,String)])
@import helper._

@main("login"){
    <div class="login">

        <h1>=<0>ω<0>= < TEST !</h1>

        @form(routes.Auth.check){
            <div class="form-group">
                <input class="form-control input_name" id="exampleInputEmail1" type="text" name="name"  placeholder="input_name">
            </div>
            <div class="form-group">
                <input class="form-control input_pass" id="exampleInputPassword1" type="password" name="pass"  placeholder="input_Password"></br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        }
    </div>
}